            <tr>
                <td>{{ panel.report_id }}</td>
                <td>{{ panel.timestamp }}</td>
                <td>{{ panel.sodium }}</td>
                <td>{{ panel.calcium }}</td>
                <td>{{ panel.chloride }}</td>
                <td>{{ panel.potassium }}</td>
                <td>{{ panel.magnesium }}</td>
                <td>{{ panel.blood_urea_nitrogen }}</td>
                <td>{{ panel.creatinine }}</td>
                <td>{{ panel.glucose }}</td>
            </tr>
