    <table>
        <caption>Metabolic Panel Values</caption>
        <thead>
        <tr>
            <th scope="col" width="70px">Elements</th>
            <th scope="col" width="70px">Values</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" width="100px"><img src="{{ url_for('static', filename='sodium.png')}}" style="width:60px;height:60px"></th>
            <td>{{ panel.sodium }}</td>
        </tr>
        <tr>
            <th scope="row" width="100px"><img src="{{ url_for('static', filename='ca.png')}}" style="width:60px;height:60px"></th></th>
            <td>{{ panel.calcium }}</td>
        </tr>
                <tr>
            <th scope="row" width="100px"><img src="{{ url_for('static', filename='chloride.png')}}" style="width:60px;height:60px"></th></th>
            <td>{{ panel.chloride }}</td>
        </tr>
                <tr>
            <th scope="row" width="100px"><img src="{{ url_for('static', filename='potassium.png')}}" style="width:60px;height:60px"></th></th>
            <td>{{ panel.potassium }}</td>
        </tr>
                <tr>
            <th scope="row" width="100px"><img src="{{ url_for('static', filename='magnesium.png')}}" style="width:60px;height:60px"></th></th>
            <td>{{ panel.magnesium }}</td>
        </tr>
                <tr>
            <th scope="row" width="100px"><img src="{{ url_for('static', filename='urea.png')}}" style="width:60px;height:60px"></th></th>
            <td>{{ panel.blood_urea_nitrogen }}</td>
        </tr>
                <tr>
            <th scope="row" width="100px"><img src="{{ url_for('static', filename='creatinine.png')}}" style="width:60px;height:60px"></th></th>
            <td>{{ panel.creatinine }}</td>
        </tr>
                <tr>
            <th scope="row" width="100px"><img src="{{ url_for('static', filename='glucose.png')}}" style="width:60px;height:60px"></th></th>
            <td>{{ panel.glucose }}</td>
        </tr>
        </tbody>
    </table>