{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ "Weights for {}".format(current_user.username) }}</h1>
    <table width="250px" data-toggle="table" data-sort-name="date" data-sort-order="desc" class="table table-striped table-bordered table-sm">
    <caption>Recorded Weights</caption>
    <thead>
    <tr>
        <th scope="col" class="th-sm" width="70px">Date</th>
        <th scope="col" class="th-sm" width="70px">Weight</th>
    </tr>
    </thead>
    <tbody>
    {% for weight in weights %}
        {% include '_weights.html' %}
        <br>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col" class="th-sm" width="70px">Date</th>
        <th scope="col" class="th-sm" width="70px">Weight</th>
    </tr>
    </tfoot>
    </table>
    <h1>{{ "Pressures for {}".format(current_user.username) }}</h1>
    <table width="250px" data-toggle="table" data-sort-name="date" data-sort-order="desc" class="table table-striped table-bordered table-sm">
    <caption>Blood Pressures</caption>
    <thead>
    <tr>
        <th scope="col" class="th-sm" width="33%">Date</th>
        <th scope="col" class="th-sm" width="33%">Systolic</th>
        <th scope="col" class="th-sm" width="33%">Diastolic</th>
    </tr>
    </thead>
    <tbody>
    {% for pressure in pressures %}
        {% include '_pressures.html' %}
        <br>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col" class="th-sm" width="33%">Date</th>
        <th scope="col" class="th-sm" width="33%">Systolic</th>
        <th scope="col" class="th-sm" width="33%">Diastolic</th>
    </tr>
    </tfoot>
    </table>
    <h1>{{ 'CBC Values for {}'.format(current_user.username) }}</h1>
    <table data-toggle="table" data-sort-name="date" data-sort-order="desc" class="table table-striped table-bordered table-sm">
    <caption>CBC panel values</caption>
    <thead>
    <tr>
        <th scope="col" class="th-sm" width="70px">Report ID</th>
        <th scope="col" class="th-sm" width="70px">Date</th>
        <th scope="col" class="th-sm" width="70px">WBC</th>
        <th scope="col" class="th-sm" width="70px">Hemoglobin</th>
        <th scope="col" class="th-sm" width="70px">Hematocrit</th>
        <th scope="col" class="th-sm" width="70px">Platelet</th>
    </tr>
    </thead>
    <tbody>
    {% for cbc in cbcs %}
        {% include '_cbcs.html' %}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col" class="th-sm" width="70px">Report ID</th>
        <th scope="col" class="th-sm" width="70px">Date</th>
        <th scope="col" class="th-sm" width="70px">WBC</th>
        <th scope="col" class="th-sm" width="70px">Hemoglobin</th>
        <th scope="col" class="th-sm" width="70px">Hematocrit</th>
        <th scope="col" class="th-sm" width="70px">Platelet</th>
    </tr>
    </tfoot>
    </table>
    <h1>{{ 'Metabolic Panels for {}'.format(current_user.username) }}</h1>
    <table data-toggle="table" data-sort-name="date" data-sort-order="desc" class="table table-striped table-bordered table-sm">
        <caption>Metabolic Panel Values</caption>
        <thead>
            <tr>
                <th scope="col" class="th-sm" width="70px">Report ID</th>
                <th scope="col" class="th-sm" width="70px" data-field="date" data-sortable="true">Date</th>
                <th scope="col" class="th-sm" width="70px">Sodium</th>
                <th scope="col" class="th-sm" width="70px">Calcium</th>
                <th scope="col" class="th-sm" width="70px">Chloride</th>
                <th scope="col" class="th-sm" width="70px">Potassium</th>
                <th scope="col" class="th-sm" width="70px">Magnesium</th>
                <th scope="col" class="th-sm" width="70px">BUN</th>
                <th scope="col" class="th-sm" width="70px">Creatinine</th>
                <th scope="col" class="th-sm" width="70px">Glucose</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td><img src="{{ url_for('static', filename='sodium.png')}}" style="width:60px;height:60px"></td>
                <td><img src="{{ url_for('static', filename='ca.png')}}" style="width:60px;height:60px"></td>
                <td><img src="{{ url_for('static', filename='chloride.png')}}" style="width:60px;height:60px"></td>
                <td><img src="{{ url_for('static', filename='potassium.png')}}" style="width:60px;height:60px"></td>
                <td><img src="{{ url_for('static', filename='magnesium.png')}}" style="width:60px;height:60px"></td>
                <td><img src="{{ url_for('static', filename='urea.png')}}" style="width:60px;height:60px"></td>
                <td><img src="{{ url_for('static', filename='creatinine.png')}}" style="width:60px;height:60px"></td>
                <td><img src="{{ url_for('static', filename='glucose.png')}}" style="width:60px;height:60px"></td>
            </tr>
    {% for panel in panels %}
        {%  include '_metabolic.html' %}
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="col" width="70px">Report ID</th>
                <th scope="col" width="70px">Date</th>
                <th scope="col" width="70px">Sodium</th>
                <th scope="col" width="70px">Calcium</th>
                <th scope="col" width="70px">Chloride</th>
                <th scope="col" width="70px">Potassium</th>
                <th scope="col" width="70px">Magnesium</th>
                <th scope="col" width="70px">BUN</th>
                <th scope="col" width="70px">Creatinine</th>
                <th scope="col" width="70px">Glucose</th>
            </tr>
        </tfoot>
    </table>
    <nav aria-label="...">
        <ul class="pager">
        </ul>
    </nav>
{% endblock %}