{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ "Weights for {}".format(current_user.username) }}</h1>
    <hr>
    {% for weight in weights %}
        {% include '_weights.html' %}
        <br>
    {% endfor %}
    <h1>{{ "Pressures for {}".format(current_user.username) }}</h1>
    <hr>
    {% for pressure in pressures %}
        {% include '_pressures.html' %}
        <br>
    {% endfor %}
    <h1>{{ 'CBC Values for {}'.format(current_user.username) }}</h1>
    <hr>
    {% for cbc in cbcs %}
        {% include '_cbcs.html' %}
    {% endfor %}
    <h1>{{ 'Metabolic Panels for {}'.format(current_user.username) }}</h1>
    {% for panel in panels %}
        {%  include '_metabolic.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
        </ul>
    </nav>
{% endblock %}